@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:ital@1&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
  position: relative;
  font-family: 'Nunito', sans-serif;

}
.root{
  position: absolute;
  width: 550px;
  height: 868px;
  background-color: #23252C;
  top: 53px;
  transform: translateX(50%);
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.worker-img{
  width: 317px;
  height: 317px;
  margin-top: 44px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main{
  width: 317px;
  height: 399px;
  background-color:#1A1B21 ;
  margin-top: -5px;
  text-align: center;
  
}
.main h1{
  color: white;
  font-weight: 700;
  padding-top: 20px;
}
.main h4{
  color: wheat;
}
.main h6{
  color: white;
  font-weight: 100;
  margin-top: 8.8px;
}
.Email button{
  background-color: #D1D5DB;
  display: flex;
  width: 115px;
  height: 34px;
  transform: translate(35px,15px);
  border-radius: 6px;
  cursor: pointer;
}
.Email button img{
  width: 20px;
  margin-left: 25px;
  margin-top: 5px;
}
button .text{
  margin-top: 8px;
  margin-left: 7px ;
  font-weight: 600;
}
.Linkedin button{
  background-color: #5093E2;
  display: flex;
  width: 115px;
  height: 34px;
  transform: translate(167px,-19px);
  border-radius: 6px;
  cursor: pointer;
}
.Linkedin button img{
  margin-left: 15px;
  margin-top: 8px;
}
.Linkedin button .text{
  color: white;
  font-weight: 300;
  margin-left: 8px;
  margin-top: 6.8px;
  font-size: 15px;
}
.links button:hover{
  opacity: 0.7;
}
.links button{
  transition: all 0.5s;
}
.info{
  margin-left: 36px;
  margin-top: 15px;
  width: 253px;
  height: 201px;
  text-align: start;
}
.about, .interests{
  width: 247px;
  height: 61px;
}
.info h2{
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  font: Inter;
}
.info p{
  font-size: 10.5px;
  line-height: 15.36px;
  color: #DCDCDC;
  padding-left: 5px;
}
.interests{
  margin-top: 50px;
}

.footer{
  width: 317px;
  height: 64px;
  background-color:#161619 ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 19px;
  padding-left: 53px;
}
.twitter, .facebook,.instagram, .github{
  width: 25px;
  height: 25px;
  background-color: #918E9B;
  margin-left: 23px;
  border-radius: 4px;
}